<div
  class="w-full flex flex-col gap-4 px-8 pt-4 pb-4"
  style="height: calc(100vh - 4rem)"
>
  <!-- <button class="right-0 top-[50px] z-10 shadow-md absolute" mat-raised-button>
    Add New Product
  </button> -->

  <div class="flex items-center justify-between">
    <input
      name="searchTerm"
      [(ngModel)]="searchTerm"
      type="text"
      class="px-3 h-[40px] min-w-[300px] w-[40%] border border-white rounded-full"
      placeholder="search courses..."
    />
    <button class="shadow-md" mat-raised-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Add New Course
    </button>
  </div>
  <div
    class="w-full h-full overflow-y-scroll flex flex-col gap-4 rounded-xl bg-[#282727] p-2 hide-scrollbar"
  >
    @for (course of courses$() | filterCourses:searchTerm(); track $index) {
    <div
      class="w-full items-center rounded-xl h-[80px] grid grid-cols-5 px-6 py-2 bg-[#1a1919] gap-4"
    >
      <div class="col-span-1 flex flex-col justify-center w-full">
        <h2 class="text-white text-[1rem]">{{ course?.title | uppercase }}</h2>
      </div>
      <div class="col-span-4 flex justify-between items-center w-full">
        <h3 class="text-white text-[1rem]">
          {{ course?.description }}
        </h3>
        <button mat-raised-button (click)="onClickViewButton(course?._id)">
          View
        </button>
      </div>
    </div>
    }
  </div>
</div>
