<h2 mat-dialog-title>Add New Course</h2>
<mat-dialog-content class="mat-typography">
  <div class="max-w-3xl mx-auto p-16 border border-gray-400 rounded-lg my-4">
    <form onSubmit="{handleFormSubmit}">
      <div class="grid gap-6 mb-6 lg:grid-cols-2">
        <div>
          <label
            htmlFor="full_name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Full Name
          </label>
          <input
            type="text"
            id="full_name"
            name="full_name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="enter fullname"
            required
          />
        </div>
        <div>
          <label
            htmlFor="user_name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Username
          </label>
          <input
            type="text"
            id="user_name"
            name="user_name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="enter username"
            required
          />
        </div>
        <div>
          <label
            htmlFor="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Email
          </label>
          <input
            type="email"
            id="email"
            name="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="xyz@gmail.com"
            required
          />
        </div>
        <div>
          <label
            htmlFor="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Password
          </label>
          <input
            type="password"
            id="password"
            name="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="•••••••••"
            required
          />
        </div>
        <div>
          <label
            htmlFor="phone"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Phone Number
          </label>
          <input
            type="number"
            id="phone"
            name="phone"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="123-456-6789"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            required
          />
        </div>
        <div>
          <label
            htmlFor="user_type"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            User Type
          </label>
          <select
            id="user_type"
            name="user_type"
            defaultValue=""
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          >
            <option value="" disabled>Select User Type</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>
        </div>
        <div class="mb-6">
          <label
            htmlFor="active"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Status
          </label>
          <div class="flex items-center gap-6">
            <label
              class="flex items-center text-sm text-gray-900 dark:text-gray-300"
            >
              <input
                type="radio"
                id="active"
                name="active"
                value="{true}"
                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
              <span class="ml-2">Active</span>
            </label>
            <label
              class="flex items-center text-sm text-gray-900 dark:text-gray-300"
            >
              <input
                type="radio"
                id="inactive"
                name="active"
                value="{false}"
                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              />
              <span class="ml-2">Inactive</span>
            </label>
          </div>
        </div>
        <div>
          <label
            htmlFor="photo"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Upload Photo
          </label>
          <input
            type="file"
            id="photo"
            name="photo"
            accept="image/*"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>
      </div>
      <div class="mb-6">
        <label
          htmlFor="created_by"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Created By
        </label>
        <input
          type="text"
          id="createdBy"
          name="created_by"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="created by"
          required
        />
      </div>
      <div class="mb-6">
        <label
          htmlFor="updated_by"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Updated By
        </label>
        <input
          type="text"
          id="updated_by"
          name="updated_by"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="updated by"
          required
        />
      </div>
      <div class="mb-6">
        <label
          htmlFor="deleted_by"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Deleted By
        </label>
        <input
          type="text"
          id="deleted_by"
          name="deleted_by"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="deleted by"
          required
        />
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="flex justify-center gap-2">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>
    Install
  </button>
</mat-dialog-actions>
