<h3 mat-dialog-title class="font-bold">Add New Course</h3>
<form [formGroup]="createCourseForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <div class="grid gap-6 mb-6 lg:grid-cols-2">
      <div>
        <label
          htmlFor="title"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Title
        </label>
        <input
          type="text"
          id="title"
          name="title"
          formControlName="title"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="enter title"
        />
      </div>
      <div>
        <label
          htmlFor="category"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Category
        </label>
        <input
          type="text"
          id="category"
          name="category"
          formControlName="category"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="select category"
        />
      </div>
      <div>
        <label
          htmlFor="price"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Price
        </label>
        <input
          type="number"
          id="price"
          name="price"
          formControlName="price"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="enter price"
        />
      </div>

      <div>
        <label
          htmlFor="primaryLanguage"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          primary Language
        </label>
        <select
          id="primaryLanguage"
          name="primaryLanguage"
          formControlName="primaryLanguage"
          defaultValue=""
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="" disabled>Select Language</option>
          <option value="hindi">Hindi</option>
          <option value="english">English</option>
          <option value="italian">Italian</option>
        </select>
      </div>
      <div>
        <label
          htmlFor="subtitle"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Subtitle
        </label>
        <input
          type="text"
          id="subtitle"
          name="subtitle"
          formControlName="subtitle"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="enter subtitle"
        />
      </div>
      <div>
        <label
          htmlFor="level"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Level
        </label>
        <select
          id="level"
          name="level"
          formControlName="level"
          defaultValue=""
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="" disabled>Select Level</option>
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>

      <div>
        <label
          htmlFor="image"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Upload Course Image
        </label>
        <input
          type="file"
          id="imageUrl"
          name="imageUrl"
          (change)="onSelectCourseImage($event)"
          accept="image/*"
          class="hidden"
        />
        <label
          for="imageUrl"
          class="w-[150px] flex justify-center items-center bg-blue-500 hover:bg-blue-600 text-white font-medium h-[40px] px-4 rounded-lg cursor-pointer text-center"
        >
          <ng-container *ngIf="selectedVideo; else uploadText">
            <mat-icon>cloud_done</mat-icon>
          </ng-container>
          <ng-template #uploadText>
            <mat-icon>image</mat-icon>
            <span class="text-[0.7rem]"> Upload Image</span>
          </ng-template>
        </label>
      </div>
    </div>
    <div class="mb-6">
      <label
        htmlFor="welcomeMessage"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >
        Welcome Message
      </label>
      <input
        type="text"
        id="welcomeMessage"
        name="welcomeMessage"
        formControlName="welcomeMessage"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="write welcome message..."
      />
    </div>
    <div class="mb-6">
      <label
        htmlFor="objectives"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >
        Objectives
      </label>
      <textarea
        type="text"
        id="objectives"
        name="objectives"
        formControlName="objectives"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="write course objectives here..."
      ></textarea>
    </div>
    <div class="mb-6">
      <label
        htmlFor="description"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >
        Description
      </label>
      <textarea
        type="text"
        id="description"
        name="description"
        formControlName="description"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="write course description here..."
      ></textarea>
    </div>

    <h5>Lectures</h5>
    <div formArrayName="lectures">
      @for (lecture of lectures.controls; track $index) {
      <div class="flex justify-between items-center">
        <p>Lecture {{ $index + 1 }}</p>
        <button
          mat-stroked-button
          color="primary"
          class="w-[25px] h-[25px] flex justify-center items-center"
          (click)="removeLecture($index)"
          type="button"
        >
          <mat-icon class="m-0">close</mat-icon>
        </button>
      </div>
      <div [formGroupName]="$index" class="grid gap-6 mb-2 lg:grid-cols-4">
        <div class="mb-4 col-span-2">
          <label
            htmlFor="title-{{ $index }}"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Lecture Title
          </label>
          <input
            type="text"
            id="title-{{ $index }}"
            name="title-{{ $index }}"
            formControlName="title"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="enter title"
          />
        </div>
        <div class="mb-4">
          <label
            htmlFor="uploadVideo-{{ $index }}"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Upload Video
          </label>
          <input
            type="file"
            id="videoUrl-{{ $index }}"
            name="videoUrl-{{ $index }}"
            (change)="onSelecteLectureVideo($event, $index)"
            class="hidden"
            accept="video/*"
          />
          <label
            for="videoUrl-{{ $index }}"
            class="flex justify-center items-center bg-blue-500 hover:bg-blue-600 text-white font-medium h-[40px] px-4 rounded-lg cursor-pointer text-center"
          >
            <ng-container *ngIf="selectedVideo; else uploadText">
              <mat-icon>cloud_done</mat-icon>
            </ng-container>
            <ng-template #uploadText
              ><mat-icon>videocam</mat-icon>
              <span class="text-[0.7rem]">Upload Video</span>
            </ng-template>
          </label>
        </div>
        <div class="mb-4">
          <label
            htmlFor="isPreview"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Free Preview
          </label>
          <div class="text-gray-900 text-sm p-2.5 space-x-2">
            <input
              name="isFreePreview"
              formControlName="isFreePreview"
              value="true"
              type="radio"
            />
            <label for="">Yes</label>
            <input
              name="isFreePreview"
              formControlName="isFreePreview"
              value="false"
              type="radio"
            />
            <label for="">No</label>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="flex justify-end items-center">
      <button
        type="button"
        mat-raised-button
        class="h-[30px] flex items-center"
        (click)="addLecture()"
      >
        <mat-icon>add</mat-icon> Add Lecture
      </button>
    </div>

    <h5>Other Info</h5>
    <div class="grid gap-6 mb-6 lg:grid-cols-2">
      <div class="mb-6">
        <label
          htmlFor="coupanCode"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Coupan Code
        </label>
        <input
          type="text"
          id="coupanCode"
          name="coupanCode"
          formControlName="coupanCode"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="enter coupan code"
        />
      </div>
      <div class="mb-6">
        <label
          htmlFor="discount"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Discount
        </label>
        <input
          type="number"
          id="discount"
          name="discount"
          formControlName="discount"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="enter discount percent"
        />
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="flex justify-center gap-4">
    <button type="button" mat-raised-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-raised-button cdkFocusInitial>Create</button>
  </mat-dialog-actions>
</form>
