<div
  class="w-full min-h-screen bg-gray-50 flex flex-col sm:justify-center items-center pt-6 sm:pt-0 px-2"
>
  <div class="w-full sm:max-w-md p-5 mx-auto border rounded-md">
    <h2 class="mb-12 text-center text-5xl font-extrabold">Welcome.</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
      <div class="mb-4">
        <label class="block mb-1" htmlFor="email"> Email </label>
        <input
          id="email"
          type="text"
          name="email"
          placeholder="xyz@gmail.com"
          formControlName="email"
          class="py-2 px-3 border border-gray-300 focus:border-black focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full"
        />
      </div>
      <div class="mb-4">
        <label class="block mb-1" htmlFor="password"> Password </label>
        <input
          id="password"
          type="password"
          name="password"
          placeholder="•••••••••"
          formControlName="password"
          class="py-2 px-3 border border-gray-300 focus:border-black focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full"
        />
      </div>
      <div class="mt-6 flex items-center justify-end">
        <!-- <div class="flex items-center">
          <input
            id="remember_me"
            type="checkbox"
            class="border border-gray-300 text-red-600 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50"
          />
          <label
            for="remember_me"
            class="ml-2 block text-sm leading-5 text-gray-900"
          >
            
            Remember me
          </label>
        </div>  -->
        <a class="text-sm"> Forgot your password? </a>
      </div>
      <div class="mt-6">
        <button
          [disabled]="loginForm.invalid"
          type="submit"
          class="w-full px-4 py-2 bg-gradient-to-r from-[#9B111E] to-[#D50032] text-white font-bold rounded-lg shadow-lg hover:from-[#D50032] hover:to-[#9B111E] focus:outline-none focus:ring-2 focus:ring-[#FF4C6A] focus:ring-offset-2 focus:ring-offset-[#D50032] transition duration-200"
        >
          <!-- <ng-container *ngIf="isLoading; else loading">
            <mat-icon class="animate-spin">progress_activity</mat-icon>
          </ng-container>
          <ng-template #loading>Sign In</ng-template> -->
          Sign In
        </button>
      </div>
      <div class="mt-6 text-center">
        <!-- dynamic binding -->
        <a
          [routerLink]="['/auth/signup']"
          routerLinkActive="router-link-active"
          class="underline hover:text-blue-500 text-sm"
        >
          don't have an account?
          <span class="font-medium"> Sign up </span>
        </a>
      </div>
    </form>
  </div>
</div>
