<div class="flex h-screen w-full items-center justify-center bg-gray-100">
  <div class="text-center">
    <h1 class="text-9xl font-extrabold text-gray-800">401</h1>
    <p class="mt-4 text-xl text-gray-600">UnAuthorized</p>
    <p class="mt-2 text-sm text-gray-500">
      Sorry, the page you are looking for are not allowed to access.
    </p>
    <div class="mt-6">
      <a
        routerLink="/auth/login"
        routerLinkActive="router-link-active"
        class="px-6 py-3 text-white bg-gradient-to-r from-[#9B111E] to-[#D50032] rounded-lg shadow-md hover:bg-blue-700"
      >
        Go Back Home
      </a>
    </div>
  </div>
</div>
